In [1]:
import pandas as pd
import numpy as np

import acquire_college

In [2]:
df = acquire_college.df_completion
df.shape

(3798, 62)

In [4]:
df.head()

,unitid,chronname,city,state,level,control,basic,hbcu,flagship,long_x,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.568502,...,36.4,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,99.7|07,NaN,882.0
1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.809170,...,NaN,NaN,NaN,NaN,196060|180461|201885|145600|209542|236939|1268...,13,106,56.0|07,UAB,1376.0
2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,-86.174010,...,NaN,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,100.0|07,NaN,3.0
3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.638420,...,0.0,0.0,0.0,0.0,232186|133881|196103|196413|207388|171128|1900...,13,106,43.1|07,UAH,759.0
4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.295677,...,NaN,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,88.0|07,ASU,1351.0

In [6]:
# narrowed down to the following states =  'Washington', 'California','Oregon', 'California', 'New Mexico', 'Arizona', 'Colorado', 'Maryland', 'Delaware', 'New Jersey', 'Pennsylvania', 'New York', 'Maine', 'Vermont', 'New Hampshere', 'Massachussetts', 'Rhode Island', 'Connecticut'

In [19]:
# filtered dataframe to only see the following states

df = df[(df.state == 'Washington') | (df.state == 'Oregon') | (df.state == 'California') |(df.state == 'New Mexico') | (df.state == 'Arizona') | (df.state == 'Colorado') | (df.state == 'Maryland') | (df.state == 'Delaware') | (df.state == 'New Jersey') |(df.state == 'Pennsylvania') | (df.state == 'New York') | (df.state == 'Maine') | (df.state == 'Vermont') | (df.state == 'New Hampshere') | (df.state == 'Massachussetts') |(df.state == 'Rhode Island') | (df.state == 'Connecticut')]

In [32]:
# filtered dataframe to only see colleges that are 4-year institutions

df = df[df.level == '4-year']
df.state.value_counts()

New York        172
California      170
Pennsylvania    132
Washington       43
Colorado         39
New Jersey       33
Maryland         32
Arizona          31
Oregon           28
Connecticut      23
Maine            20
Vermont          19
New Mexico       19
Rhode Island     10
Delaware          7
Name: state, dtype: int64

#### df[df.level == '4-year']