In [1]:
import pandas as pd
import numpy as np

import acquire_college

In [2]:
df = acquire_college.df_completion
df.shape

(3798, 62)

In [3]:
df.head()

,unitid,chronname,city,state,level,control,basic,hbcu,flagship,long_x,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.568502,...,36.4,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,99.7|07,NaN,882.0
1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.809170,...,NaN,NaN,NaN,NaN,196060|180461|201885|145600|209542|236939|1268...,13,106,56.0|07,UAB,1376.0
2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,-86.174010,...,NaN,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,100.0|07,NaN,3.0
3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.638420,...,0.0,0.0,0.0,0.0,232186|133881|196103|196413|207388|171128|1900...,13,106,43.1|07,UAH,759.0
4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.295677,...,NaN,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,88.0|07,ASU,1351.0

In [4]:
# narrowed down to the following states =  'Washington', 'California','Oregon', 'California', 'New Mexico', 'Arizona', 'Colorado', 'Maryland', 'Delaware', 'New Jersey', 'Pennsylvania', 'New York', 'Maine', 'Vermont', 'New Hampshere', 'Massachussetts', 'Rhode Island', 'Connecticut'

In [5]:
# filtered dataframe to only see the following states

df = df[(df.state == 'Washington') | (df.state == 'Oregon') | (df.state == 'California') |(df.state == 'New Mexico') | (df.state == 'Arizona') | (df.state == 'Colorado') | (df.state == 'Maryland') | (df.state == 'Delaware') | (df.state == 'New Jersey') |(df.state == 'Pennsylvania') | (df.state == 'New York') | (df.state == 'Maine') | (df.state == 'Vermont') | (df.state == 'New Hampshere') | (df.state == 'Massachussetts') |(df.state == 'Rhode Island') | (df.state == 'Connecticut')]

In [6]:
# filtered dataframe to only see colleges that are 4-year institutions

df = df[df.level == '4-year']
df.state.value_counts()

New York        172
California      170
Pennsylvania    132
Washington       43
Colorado         39
New Jersey       33
Maryland         32
Arizona          31
Oregon           28
Connecticut      23
Maine            20
Vermont          19
New Mexico       19
Rhode Island     10
Delaware          7
Name: state, dtype: int64

In [7]:
df.head()

,unitid,chronname,city,state,level,control,basic,hbcu,flagship,long_x,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
62,103644,Everest College,Phoenix,Arizona,4-year,Private for-profit,Associates--Private For-profit 4-year Primaril...,NaN,NaN,-112.113845,...,NaN,NaN,NaN,NaN,445197|122834|118259|189565|154776|445258|2037...,23,83,62.4|07,NaN,59.0
63,103893,Carrington College at Phoenix,Phoenix,Arizona,4-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-112.115546,...,NaN,NaN,NaN,NaN,125532|365055|442338|246202|377111|375416|4406...,23,517,NaN,NaN,NaN
66,103945,CollegeAmerica at Flagstaff,Flagstaff,Arizona,4-year,Private not-for-profit,Associates--Private For-profit,NaN,NaN,-111.604793,...,NaN,NaN,NaN,NaN,439570|189592|434821|215433|363439|433563|2040...,4,517,NaN,NaN,NaN
67,104090,International Institute of the Americas at Gle...,Phoenix,Arizona,4-year,Private for-profit,Baccalaureate/Associates Colleges,NaN,NaN,-112.150070,...,NaN,NaN,NaN,NaN,438179|404806|242981|241836|230621|189413|2413...,23,124,NaN,NaN,56.0
68,104151,Arizona State University at Tempe,Tempe,Arizona,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-111.940011,...,NaN,NaN,NaN,NaN,209542|236939|145600|196060|180461|141574|1006...,4,106,59.4|07,ASU,7308.0

In [8]:
df.control.value_counts()

Private not-for-profit    406
Public                    209
Private for-profit        163
Name: control, dtype: int64

In [12]:
# remove spaces and dashes and replace with underscores
df['control'] = df['control'].str.replace('-', '_').str.replace(' ', '_')

In [13]:
df.control.value_counts()

Private_not_for_profit    406
Public                    209
Private_for_profit        163
Name: control, dtype: int64

In [17]:
# remove Private_for_profit from dataframe
df = df[(df.control == 'Private_not_for_profit') | (df.control == 'Public')]

In [18]:
df

,unitid,chronname,city,state,level,control,basic,hbcu,flagship,long_x,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
66,103945,CollegeAmerica at Flagstaff,Flagstaff,Arizona,4-year,Private_not_for_profit,Associates--Private For-profit,NaN,NaN,-111.604793,...,NaN,NaN,NaN,NaN,439570|189592|434821|215433|363439|433563|2040...,4,517,NaN,NaN,NaN
76,104586,Embry-Riddle Aeronautical University at Prescott,Prescott,Arizona,4-year,Private_not_for_profit,Baccalaureate Colleges--Diverse Fields,NaN,NaN,-112.452285,...,NaN,NaN,NaN,NaN,153250|154101|212197|180984|174491|203845|1075...,4,343,77.9|07,NaN,399.0
94,105589,Prescott College,Prescott,Arizona,4-year,Private_not_for_profit,Masters Colleges and Universities--smaller pro...,NaN,NaN,-112.476509,...,NaN,NaN,NaN,NaN,170037|120537|142461|231077|117627|194161|1103...,4,106,33.2|07,NaN,69.0
99,105899,Arizona Christian University,Phoenix,Arizona,4-year,Private_not_for_profit,Baccalaureate Colleges--Diverse Fields,NaN,NaN,-112.026211,...,NaN,NaN,NaN,NaN,171881|178679|155496|217606|153302|142090|3637...,4,343,47.8|07,NaN,57.0
151,109651,Art Center College of Design,Pasadena,California,4-year,Private_not_for_profit,Schools of art- music- and design,NaN,NaN,-118.186901,...,NaN,NaN,NaN,NaN,120403|209603|214148|117168|441973|173887|4403...,74,114,69.3|07,NaN,101.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3685,451404,Talmudical Seminary of Bobov,Brooklyn,New York,4-year,Private_not_for_profit,Theological seminaries- Bible colleges- and ot...,NaN,NaN,-73.995267,...,NaN,NaN,NaN,NaN,NaN,116,106,NaN,NaN,27.0
3717,454184,King's College (N.Y.),New York,New York,4-year,Private_not_for_profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,-74.012348,...,NaN,NaN,NaN,NaN,446233|161208|454865|454616|444626|448239|4474...,116,252,NaN,NaN,44.0
3729,455257,Yeshiva of Machzikai Hadas,Brooklyn,New York,4-year,Private_not_for_profit,Theological seminaries- Bible colleges- and ot...,NaN,NaN,-73.987833,...,NaN,NaN,NaN,NaN,NaN,116,106,NaN,NaN,29.0
3783,459727,Touro University Worldwide,Los Alamitos,California,4-year,Private_not_for_profit,Not applicable- not in Carnegie universe,NaN,NaN,-118.057671,...,NaN,NaN,NaN,NaN,NaN,74,81,NaN,NaN,NaN
3794,462354,John Paul the Great Catholic University,Escondido,California,4-year,Private_not_for_profit,Not applicable- not in Carnegie universe,NaN,NaN,-117.082401,...,NaN,NaN,NaN,NaN,NaN,74,81,NaN,NaN,33.0

#### df[df.level == '4-year']