In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('colleges.csv') 
df.shape

(3798, 509)

In [3]:
df.head()

,Unnamed: 0,unitid,chronname,city,state,level,control,basic,hbcu,flagship,...,COMPL_RPY_3YR_RT_SUPP,NONCOM_RPY_3YR_RT_SUPP,DEP_RPY_3YR_RT_SUPP,IND_RPY_3YR_RT_SUPP,PELL_RPY_3YR_RT_SUPP,NOPELL_RPY_3YR_RT_SUPP,FEMALE_RPY_3YR_RT_SUPP,MALE_RPY_3YR_RT_SUPP,FIRSTGEN_RPY_3YR_RT_SUPP,NOTFIRSTGEN_RPY_3YR_RT_SUPP
0,0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,...,0.578873239,0.373790022,0.442857143,0.45890411,0.443586698,0.452513966,0.484818805,0.406,0.423580786,0.44245283
1,1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,...,0.847800926,0.678748759,0.767798013,0.739164697,0.732297853,0.795454545,0.760521886,0.755344418,0.751552795,0.765074771
2,2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,...,0.807692308,0.61328125,PrivacySuppressed,0.641114983,0.600877193,0.775,0.610465116,0.686567164,0.632653061,0.65
3,3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,...,0.892045455,0.689788054,0.800347222,0.75564409,0.738341969,0.851405622,0.768378651,0.79844098,0.778156997,0.791666667
4,4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,...,0.482490272,0.315996848,0.32410212,0.350993377,0.320016821,0.380829016,0.364423718,0.286530612,0.315737052,0.334633385

In [4]:
df = df.drop([
 'CURROPER',
 'TUITFTE',
 'INEXPFTE',
 'PCTPELL',
 'poolyrs',
 'poolyrs200',
 'PCTFLOAN',
 'UG25abv',
 'CDR3',
 'RPY_3YR_RT',
 'COMPL_RPY_3YR_RT',
 'NONCOM_RPY_3YR_RT',
 'LO_INC_RPY_3YR_RT',
 'MD_INC_RPY_3YR_RT',
 'HI_INC_RPY_3YR_RT',
 'DEP_RPY_3YR_RT',
 'IND_RPY_3YR_RT',
 'PELL_RPY_3YR_RT',
 'NOPELL_RPY_3YR_RT',
 'FEMALE_RPY_3YR_RT',
 'MALE_RPY_3YR_RT',
 'FIRSTGEN_RPY_3YR_RT',
 'NOTFIRSTGEN_RPY_3YR_RT',
 'RPY_5YR_RT',
 'COMPL_RPY_5YR_RT',
 'NONCOM_RPY_5YR_RT',
 'LO_INC_RPY_5YR_RT',
 'MD_INC_RPY_5YR_RT',
 'HI_INC_RPY_5YR_RT',
 'DEP_RPY_5YR_RT',
 'IND_RPY_5YR_RT',
 'PELL_RPY_5YR_RT',
 'NOPELL_RPY_5YR_RT',
 'FEMALE_RPY_5YR_RT',
 'MALE_RPY_5YR_RT',
 'FIRSTGEN_RPY_5YR_RT',
 'NOTFIRSTGEN_RPY_5YR_RT',
 'RPY_7YR_RT',
 'COMPL_RPY_7YR_RT',
 'NONCOM_RPY_7YR_RT',
 'LO_INC_RPY_7YR_RT',
 'MD_INC_RPY_7YR_RT',
 'HI_INC_RPY_7YR_RT',
 'DEP_RPY_7YR_RT',
 'IND_RPY_7YR_RT',
 'PELL_RPY_7YR_RT',
 'NOPELL_RPY_7YR_RT',
 'FEMALE_RPY_7YR_RT',
 'MALE_RPY_7YR_RT',
 'FIRSTGEN_RPY_7YR_RT',
 'NOTFIRSTGEN_RPY_7YR_RT',
 'INC_PCT_LO',
 'DEP_STAT_PCT_IND',
 'DEP_INC_PCT_LO',
 'IND_INC_PCT_LO',
 'PAR_ED_PCT_1STGEN',
 'INC_PCT_M1',
 'INC_PCT_M2',
 'INC_PCT_H1',
 'INC_PCT_H2',
 'DEP_INC_PCT_M1',
 'DEP_INC_PCT_M2',
 'DEP_INC_PCT_H1',
 'DEP_INC_PCT_H2',
 'IND_INC_PCT_M1',
 'IND_INC_PCT_M2',
 'IND_INC_PCT_H1',
 'IND_INC_PCT_H2',
 'PAR_ED_PCT_MS',
 'PAR_ED_PCT_HS',
 'PAR_ED_PCT_PS',
 'APPL_SCH_PCT_GE2',
 'APPL_SCH_PCT_GE3',
 'APPL_SCH_PCT_GE4',
 'APPL_SCH_PCT_GE5',
 'DEP_INC_AVG',
 'IND_INC_AVG',
 'DEBT_MDN',
 'GRAD_DEBT_MDN',
 'WDRAW_DEBT_MDN',
 'LO_INC_DEBT_MDN',
 'MD_INC_DEBT_MDN',
 'HI_INC_DEBT_MDN',
 'DEP_DEBT_MDN',
 'IND_DEBT_MDN',
 'PELL_DEBT_MDN',
 'NOPELL_DEBT_MDN',
 'FEMALE_DEBT_MDN',
 'MALE_DEBT_MDN',
 'FIRSTGEN_DEBT_MDN',
 'NOTFIRSTGEN_DEBT_MDN',
 'DEBT_N',
 'GRAD_DEBT_N',
 'WDRAW_DEBT_N',
 'LO_INC_DEBT_N',
 'MD_INC_DEBT_N',
 'HI_INC_DEBT_N',
 'DEP_DEBT_N',
 'IND_DEBT_N',
 'PELL_DEBT_N',
 'NOPELL_DEBT_N',
 'FEMALE_DEBT_N',
 'MALE_DEBT_N',
 'FIRSTGEN_DEBT_N',
 'NOTFIRSTGEN_DEBT_N',
 'GRAD_DEBT_MDN10YR',
 'CUML_DEBT_N',
 'CUML_DEBT_P90',
 'CUML_DEBT_P75',
 'CUML_DEBT_P25',
 'CUML_DEBT_P10',
 'INC_N',
 'DEP_INC_N',
 'IND_INC_N',
 'DEP_STAT_N',
 'PAR_ED_N',
 'APPL_SCH_N',
 'RPY_3YR_N',
 'COMPL_RPY_3YR_N',
 'NONCOM_RPY_3YR_N',
 'LO_INC_RPY_3YR_N',
 'MD_INC_RPY_3YR_N',
 'HI_INC_RPY_3YR_N',
 'DEP_RPY_3YR_N',
 'IND_RPY_3YR_N',
 'PELL_RPY_3YR_N',
 'NOPELL_RPY_3YR_N',
 'FEMALE_RPY_3YR_N',
 'MALE_RPY_3YR_N',
 'FIRSTGEN_RPY_3YR_N',
 'NOTFIRSTGEN_RPY_3YR_N',
 'RPY_5YR_N',
 'COMPL_RPY_5YR_N',
 'NONCOM_RPY_5YR_N',
 'LO_INC_RPY_5YR_N',
 'MD_INC_RPY_5YR_N',
 'HI_INC_RPY_5YR_N',
 'DEP_RPY_5YR_N',
 'IND_RPY_5YR_N',
 'PELL_RPY_5YR_N',
 'NOPELL_RPY_5YR_N',
 'FEMALE_RPY_5YR_N',
 'MALE_RPY_5YR_N',
 'FIRSTGEN_RPY_5YR_N',
 'NOTFIRSTGEN_RPY_5YR_N',
 'RPY_7YR_N',
 'COMPL_RPY_7YR_N',
 'NONCOM_RPY_7YR_N',
 'LO_INC_RPY_7YR_N',
 'MD_INC_RPY_7YR_N',
 'HI_INC_RPY_7YR_N',
 'DEP_RPY_7YR_N',
 'IND_RPY_7YR_N',
 'PELL_RPY_7YR_N',
 'NOPELL_RPY_7YR_N',
 'FEMALE_RPY_7YR_N',
 'MALE_RPY_7YR_N',
 'FIRSTGEN_RPY_7YR_N',
 'NOTFIRSTGEN_RPY_7YR_N',
 'DEBT_MDN_SUPP',
 'GRAD_DEBT_MDN_SUPP',
 'GRAD_DEBT_MDN10YR_SUPP',
 'RPY_3YR_RT_SUPP',
 'LO_INC_RPY_3YR_RT_SUPP',
 'MD_INC_RPY_3YR_RT_SUPP',
 'HI_INC_RPY_3YR_RT_SUPP',
 'COMPL_RPY_3YR_RT_SUPP',
 'NONCOM_RPY_3YR_RT_SUPP',
 'DEP_RPY_3YR_RT_SUPP',
 'IND_RPY_3YR_RT_SUPP',
 'PELL_RPY_3YR_RT_SUPP',
 'NOPELL_RPY_3YR_RT_SUPP',
 'FEMALE_RPY_3YR_RT_SUPP',
 'MALE_RPY_3YR_RT_SUPP',
 'FIRSTGEN_RPY_3YR_RT_SUPP',
 'NOTFIRSTGEN_RPY_3YR_RT_SUPP',
'CIP01CERT1',
 'CIP01CERT2',
 'CIP01ASSOC',
 'CIP01CERT4',
 'CIP01BACHL',
 'CIP03CERT1',
 'CIP03CERT2',
 'CIP03ASSOC',
 'CIP03CERT4',
 'CIP03BACHL',
 'CIP04CERT1',
 'CIP04CERT2',
 'CIP04ASSOC',
 'CIP04CERT4',
 'CIP04BACHL',
 'CIP05CERT1',
 'CIP05CERT2',
 'CIP05ASSOC',
 'CIP05CERT4',
 'CIP05BACHL',
 'CIP09CERT1',
 'CIP09CERT2',
 'CIP09ASSOC',
 'CIP09CERT4',
 'CIP09BACHL',
 'CIP10CERT1',
 'CIP10CERT2',
 'CIP10ASSOC',
 'CIP10CERT4',
 'CIP10BACHL',
 'CIP11CERT1',
 'CIP11CERT2',
 'CIP11ASSOC',
 'CIP11CERT4',
 'CIP11BACHL',
 'CIP12CERT1',
 'CIP12CERT2',
 'CIP12ASSOC',
 'CIP12CERT4',
 'CIP12BACHL',
 'CIP13CERT1',
 'CIP13CERT2',
 'CIP13ASSOC',
 'CIP13CERT4',
 'CIP13BACHL',
 'CIP14CERT1',
 'CIP14CERT2',
 'CIP14ASSOC',
 'CIP14CERT4',
 'CIP14BACHL',
 'CIP15CERT1',
 'CIP15CERT2',
 'CIP15ASSOC',
 'CIP15CERT4',
 'CIP15BACHL',
 'CIP16CERT1',
 'CIP16CERT2',
 'CIP16ASSOC',
 'CIP16CERT4',
 'CIP16BACHL',
 'CIP19CERT1',
 'CIP19CERT2',
 'CIP19ASSOC',
 'CIP19CERT4',
 'CIP19BACHL',
 'CIP22CERT1',
 'CIP22CERT2',
 'CIP22ASSOC',
 'CIP22CERT4',
 'CIP22BACHL',
 'CIP23CERT1',
 'CIP23CERT2',
 'CIP23ASSOC',
 'CIP23CERT4',
 'CIP23BACHL',
 'CIP24CERT1',
 'CIP24CERT2',
 'CIP24ASSOC',
 'CIP24CERT4',
 'CIP24BACHL',
 'CIP25CERT1',
 'CIP25CERT2',
 'CIP25ASSOC',
 'CIP25CERT4',
 'CIP25BACHL',
 'CIP26CERT1',
 'CIP26CERT2',
 'CIP26ASSOC',
 'CIP26CERT4',
 'CIP26BACHL',
 'CIP27CERT1',
 'CIP27CERT2',
 'CIP27ASSOC',
 'CIP27CERT4',
 'CIP27BACHL',
 'CIP29CERT1',
 'CIP29CERT2',
 'CIP29ASSOC',
 'CIP29CERT4',
 'CIP29BACHL',
 'CIP30CERT1',
 'CIP30CERT2',
 'CIP30ASSOC',
 'CIP30CERT4',
 'CIP30BACHL',
 'CIP31CERT1',
 'CIP31CERT2',
 'CIP31ASSOC',
 'CIP31CERT4',
 'CIP31BACHL',
 'CIP38CERT1',
 'CIP38CERT2',
 'CIP38ASSOC',
 'CIP38CERT4',
 'CIP38BACHL',
 'CIP39CERT1',
 'CIP39CERT2',
 'CIP39ASSOC',
 'CIP39CERT4',
 'CIP39BACHL',
 'CIP40CERT1',
 'CIP40CERT2',
 'CIP40ASSOC',
 'CIP40CERT4',
 'CIP40BACHL',
 'CIP41CERT1',
 'CIP41CERT2',
 'CIP41ASSOC',
 'CIP41CERT4',
 'CIP41BACHL',
 'CIP42CERT1',
 'CIP42CERT2',
 'CIP42ASSOC',
 'CIP42CERT4',
 'CIP42BACHL',
 'CIP43CERT1',
 'CIP43CERT2',
 'CIP43ASSOC',
 'CIP43CERT4',
 'CIP43BACHL',
 'CIP44CERT1',
 'CIP44CERT2',
 'CIP44ASSOC',
 'CIP44CERT4',
 'CIP44BACHL',
 'CIP45CERT1',
 'CIP45CERT2',
 'CIP45ASSOC',
 'CIP45CERT4',
 'CIP45BACHL',
 'CIP46CERT1',
 'CIP46CERT2',
 'CIP46ASSOC',
 'CIP46CERT4',
 'CIP46BACHL',
 'CIP47CERT1',
 'CIP47CERT2',
 'CIP47ASSOC',
 'CIP47CERT4',
 'CIP47BACHL',
 'CIP48CERT1',
 'CIP48CERT2',
 'CIP48ASSOC',
 'CIP48CERT4',
 'CIP48BACHL',
 'CIP49CERT1',
 'CIP49CERT2',
 'CIP49ASSOC',
 'CIP49CERT4',
 'CIP49BACHL',
 'CIP50CERT1',
 'CIP50CERT2',
 'CIP50ASSOC',
 'CIP50CERT4',
 'CIP50BACHL',
 'CIP51CERT1',
 'CIP51CERT2',
 'CIP51ASSOC',
 'CIP51CERT4',
 'CIP51BACHL',
 'CIP52CERT1',
 'CIP52CERT2',
 'CIP52ASSOC',
 'CIP52CERT4',
 'CIP52BACHL',
 'CIP54CERT1',
 'CIP54CERT2',
 'CIP54ASSOC',
 'CIP54CERT4',
 'CIP54BACHL',
 'DISTANCEONLY',
'PCIP01',
 'PCIP03',
 'PCIP04',
 'PCIP05',
 'PCIP09',
 'PCIP10',
 'PCIP11',
 'PCIP12',
 'PCIP13',
 'PCIP14',
 'PCIP15',
 'PCIP16',
 'PCIP19',
 'PCIP22',
 'PCIP23',
 'PCIP24',
 'PCIP25',
 'PCIP26',
 'PCIP27',
 'PCIP29',
 'PCIP30',
 'PCIP31',
 'PCIP38',
 'PCIP39',
 'PCIP40',
 'PCIP41',
 'PCIP42',
 'PCIP43',
 'PCIP44',
 'PCIP45',
 'PCIP46',
 'PCIP47',
 'PCIP48',
 'PCIP49',
 'PCIP50',
 'PCIP51',
 'PCIP52',
 'PCIP54',
'similar',
'state_sector_ct',
 'carnegie_ct',
 'counted_pct',
 'nicknames',
'hbcu',
 'flagship',
 'aid_value',
 'aid_percentile',
 'endow_value',
 'endow_percentile',
 'ft_pct',
 'fte_value',
 'fte_percentile'], axis=1)
df.head()

,Unnamed: 0,unitid,chronname,city,state,level,control,basic,long_x,lat_y,...,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF
0,0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,-86.568502,34.783368,...,0.0279,0.9501,0.0089,0.0022,0.0012,0.0010,0.0000,0.0002,0.0084,0.0622
1,1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,-86.809170,33.502230,...,0.5987,0.2590,0.0258,0.0518,0.0026,0.0007,0.0344,0.0140,0.0130,0.2579
2,2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,-86.174010,32.362609,...,0.2919,0.4224,0.0093,0.0031,0.0031,0.0031,0.0000,0.0000,0.2671,0.3727
3,3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,-86.638420,34.722818,...,0.7012,0.1310,0.0338,0.0364,0.0145,0.0002,0.0161,0.0329,0.0338,0.2395
4,4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,-86.295677,32.364317,...,0.0161,0.9285,0.0114,0.0015,0.0009,0.0007,0.0064,0.0207,0.0138,0.0902

In [5]:
list(df)

['Unnamed: 0',
 'unitid',
 'chronname',
 'city',
 'state',
 'level',
 'control',
 'basic',
 'long_x',
 'lat_y',
 'site',
 'student_count',
 'awards_per_value',
 'awards_per_state_value',
 'awards_per_natl_value',
 'exp_award_value',
 'exp_award_state_value',
 'exp_award_natl_value',
 'exp_award_percentile',
 'med_sat_value',
 'med_sat_percentile',
 'grad_100_value',
 'grad_100_percentile',
 'grad_150_value',
 'grad_150_percentile',
 'pell_value',
 'pell_percentile',
 'retain_value',
 'retain_percentile',
 'ft_fac_value',
 'ft_fac_percentile',
 'vsa_year',
 'vsa_grad_after4_first',
 'vsa_grad_elsewhere_after4_first',
 'vsa_enroll_after4_first',
 'vsa_enroll_elsewhere_after4_first',
 'vsa_grad_after6_first',
 'vsa_grad_elsewhere_after6_first',
 'vsa_enroll_after6_first',
 'vsa_enroll_elsewhere_after6_first',
 'vsa_grad_after4_transfer',
 'vsa_grad_elsewhere_after4_transfer',
 'vsa_enroll_after4_transfer',
 'vsa_enroll_elsewhere_after4_transfer',
 'vsa_grad_after6_transfer',
 'vsa_grad_elsewhere_after6_transfer',
 'vsa_enroll_after6_transfer',
 'vsa_enroll_elsewhere_after6_transfer',
 'cohort_size',
 'UNITID',
 'OPEID',
 'opeid6',
 'INSTNM',
 'CITY',
 'STABBR',
 'ZIP',
 'AccredAgency',
 'INSTURL',
 'NPCURL',
 'HCM2',
 'main',
 'NUMBRANCH',
 'PREDDEG',
 'HIGHDEG',
 'CONTROL',
 'st_fips',
 'region',
 'LOCALE',
 'LATITUDE',
 'LONGITUDE',
 'HBCU',
 'PBI',
 'ANNHI',
 'TRIBAL',
 'AANAPII',
 'HSI',
 'NANTI',
 'MENONLY',
 'WOMENONLY',
 'UGDS',
 'UGDS_WHITE',
 'UGDS_BLACK',
 'UGDS_HISP',
 'UGDS_ASIAN',
 'UGDS_AIAN',
 'UGDS_NHPI',
 'UGDS_2MOR',
 'UGDS_NRA',
 'UGDS_UNKN',
 'PPTUG_EF']

In [6]:
# narrowed down to the following states =  'Washington', 'California','Oregon', 'California', 'New Mexico', 'Arizona', 'Colorado', 'Maryland', 'Delaware', 'New Jersey', 'Pennsylvania', 'New York', 'Maine', 'Vermont', 'New Hampshere', 'Massachussetts', 'Rhode Island', 'Connecticut'

In [7]:
# filtered dataframe to only see the following states

df = df[(df.state == 'Washington') | (df.state == 'Oregon') | (df.state == 'California') |(df.state == 'New Mexico') | (df.state == 'Arizona') | (df.state == 'Colorado') | (df.state == 'Maryland') | (df.state == 'Delaware') | (df.state == 'New Jersey') |(df.state == 'Pennsylvania') | (df.state == 'New York') | (df.state == 'Maine') | (df.state == 'Vermont') | (df.state == 'New Hampshere') | (df.state == 'Massachussetts') |(df.state == 'Rhode Island') | (df.state == 'Connecticut')]

In [8]:
# filtered dataframe to only see colleges that are 4-year institutions

df = df[df.level == '4-year']
df.state.value_counts()

New York        172
California      170
Pennsylvania    132
Washington       43
Colorado         39
New Jersey       33
Maryland         32
Arizona          31
Oregon           28
Connecticut      23
Maine            20
Vermont          19
New Mexico       19
Rhode Island     10
Delaware          7
Name: state, dtype: int64

In [9]:
df.control.value_counts()

Private not-for-profit    406
Public                    209
Private for-profit        163
Name: control, dtype: int64

In [10]:
# remove spaces and dashes and replace with underscores
df['control'] = df['control'].str.replace('-', '_').str.replace(' ', '_')

In [11]:
df.control.value_counts()

Private_not_for_profit    406
Public                    209
Private_for_profit        163
Name: control, dtype: int64

In [12]:
# remove Private_for_profit from dataframe
df = df[(df.control == 'Private_not_for_profit') | (df.control == 'Public')]

In [13]:
df = df.drop(columns=['Unnamed: 0'])

In [14]:
df.dtypes

unitid         int64
chronname     object
city          object
state         object
level         object
              ...
UGDS_NHPI    float64
UGDS_2MOR    float64
UGDS_NRA     float64
UGDS_UNKN    float64
PPTUG_EF     float64
Length: 89, dtype: object

In [15]:
# for index, row in df.iterrows():
#     print(index, row.cohort_size)

In [17]:
df.to_csv('initial_colleges_cleaned.csv')